name: Continuous Integration

on:
  workflow_dispatch:

  pull_request:
    branches:
      - main

jobs:
  nestor_typescript_ci:
    name: Typescript
    uses: youwol/nestor/.github/workflows/typescript-ci.yaml@v3
    with:
      acceptedGhsaIds: GHSA-c2qf-rxjj-qqgw GHSA-j8xg-fqg3-53r7
